[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "InterNL"]
	path = InterNL
	url = https://github.com/cran/InterNL
[submodule "TSANN"]
	path = TSANN
	url = https://github.com/cran/TSANN
[submodule "WaveletETS"]
	path = WaveletETS
	url = https://github.com/cran/WaveletETS
[submodule "WaveletKNN"]
	path = WaveletKNN
	url = https://github.com/cran/WaveletKNN
[submodule "WaveletLSTM"]
	path = WaveletLSTM
	url = https://github.com/cran/WaveletLSTM
[submodule "WeightedEnsemble"]
	path = WeightedEnsemble
	url = https://github.com/cran/WeightedEnsemble
